{% extends 'base.html' %}

{% block content %}
    <h1>Shop</h1>
    <div class="row">

        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/images.jpg') }}">
            <h1>Apple Watch</h1>
            <p class="text-success">30,000</p>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='images/macbook.jpg') }}">
            <h1>Macbook Pro</h1>
            <p class="text-success">100,000</p>
        </div>

    </div>

{% endblock %}